      <section class="px-6 pt-8 notification-top-area">
        <div class="d-flex justify-content-start align-items-center gap-4 py-3">
          <a (click)="goBack()"
            class="p1-color back-button flex-center"
          >
            <i class="ph ph-caret-left"></i>
          </a>
          <h2>Edita tu perfil</h2>
        </div>
      </section>
      <section class="sign-in-area">
        <form (ngSubmit)="saveProfile()" class="input-field-area d-flex flex-column gap-4">
          <div class="input-field-item">
            <p>Nombre completo</p>
            <div class="input-field">
              <input type="text" [(ngModel)]="user.name" name="name" placeholder="Enter your full name" required />
            </div>
          </div>
          <div class="input-field-item">
            <p>Telefono</p>
            <div class="input-field">
              <input type="tel" [(ngModel)]="user.phone" name="phone" placeholder="Enter your phone number" />
            </div>
          </div>
          <div class="input-field-item">
            <p>Correo electronico</p>
            <div class="input-field">
              <input type="email" [(ngModel)]="user.email" name="email" placeholder="Enter your email" required />
            </div>
          </div>
          <div class="input-field-item">
            <p>Rut</p>
            <div class="input-field">
              <input type="text" [(ngModel)]="user.rut" name="rut" placeholder="Enter your rut" required />
            </div>
          </div>
          <div class="input-field-item">
            <p>Genero</p>
            <div class="input-field">
              <input type="text" [(ngModel)]="user.gender" name="gender" placeholder="Enter your gender" required />
            </div>
          </div>
          <div class="input-field-item">
            <p>Fecha de nacimiento</p>
            <div class="input-field">
              <input type="date" [(ngModel)]="user.birthdate" name="birthdate" placeholder="Enter your birthdate" required />
            </div>
          </div>
          <div class="input-field-item">
            <p>Dirección de domicilio</p>
            <div class="input-field">
              <input type="text" [(ngModel)]="user.address" name="address" placeholder="Enter your address" required />
            </div>
          </div>
          <div class="d-flex flex-column gap-4 align-items-center w-100">
            <button type="submit" class="link-button d-block w-100">
              <span *ngIf="!isSaving">Guardar cambios</span>
              <span *ngIf="isSaving">Guardando...</span>
            </button>
            <button type="button" (click)="goBack()" class="link-button link-button--outline d-block w-100">
              Cancelar
            </button>
          </div>
        </form>
      </section>