  <!-- Footer Menu Start -->
      <div class="footer-menu-area" *ngIf="showHeader">
        <div class="footer-menu flex justify-content-center align-items-center">
          <div
            class="d-flex justify-content-between align-items-center px-6 h-100"
          >
            <a routerLink="/" class="flex-center"
              ><i class="ph-fill ph-house link-item active"></i
            ></a>
            <a routerLink="/order-tracking" class="flex-center"
              ><i class="ph ph-calendar link-item"></i
            ></a>
            <a routerLink="/" class="flex-center"
              ><i class="ph ph-messenger-logo link-item"></i
            ></a>
            <a
              [routerLink]="isLoggedIn ? profileRoute() : '/login'"
              class="flex-center"
            >
              <i class="ph ph-user link-item"></i>
            </a>
          </div>

          <div class="plus-icon position-absolute">
            <div class="position-relative">
              <a routerLink="/maps">
              <img src="assets/img/plus-icon-bg.png" class="" alt="" />
              <i class="ph ph-map-pin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Menu End -->